<main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Dashboard</li>
          </ol>
       </nav>
    </div>
    <section class="section dashboard">
       <div class="row">
          <div class="row">
             <div class="row">
                <div class="col-xxl-4 col-md-6">
                   <div class="card info-card sales-card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <!-- <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul> -->
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Sales <span>| Today</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-cart"></i></div>
                            <div class="ps-3">
                               <h6>145</h6>
                               <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xxl-4 col-md-6">
                   <div class="card info-card revenue-card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <!-- <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul> -->
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Revenue <span>| This Month</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-currency-dollar"></i></div>
                            <div class="ps-3">
                               <h6>$3,264</h6>
                               <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xxl-4 col-xl-12">
                   <div class="card info-card customers-card">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <!-- <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul> -->
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Customers <span>| This Year</span></h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                            <div class="ps-3">
                               <h6>1244</h6>
                               <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-12">
                   <div class="card">
                      <!-- <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div> -->
                      <!-- <div class="card-body">
                         <h5 class="card-title">Reports <span>/Today</span></h5>
                         <div id="reportsChart"></div> 
                      </div> -->
                   </div>
                </div>
                <div class="col-12">
                   <div class="card recent-sales overflow-auto">
                      <!-- <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div> -->
                      <!--dashboard table-->
                      <div class="card-body">
                         <h5 class="card-title">Client Details <span>|</span><span><button type="button" class="btn btn-primary btn-sm" style="margin-left:5px;"  data-toggle="modal" data-target="#exampleModalCenter" (click)="openForm()">Add</button></span></h5>
                         <table class="table table-borderless datatable">
                            <thead>
                               <tr>
                                  <th scope="col">Action</th>
                                  <th scope="col">Firm</th>
                                  <th scope="col">Business</th>
                                  <th scope="col">GST</th>
                                  <th scope="col">Position</th>
                                  <th scope="col">User Id</th>
                                  <th scope="col">User Password</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Email Password</th>
                                  <th scope="col">EVC / DSC</th>
                                  <th scope="col">Contact</th>
                                  <th scope="col">Frequency</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let client of clients">
                                  <td>
                                    <i class="bi bi-pen" [routerLink]="['/editEmpleado/', client.id]"></i>
                                    <i  (click)="deleteClient(client.id)" class="bi bi-trash"></i>
                                  </td>
                                  <td>{{client.firmname}}</td>
                                  <td>{{client.business}}</td>
                                  <td><span class="badge bg-secondary">{{client.gst}}</span></td>
                                  <td>{{client.prop}}</td>
                                  <td><span class="badge bg-success">{{client.userId}}</span></td>
                                  <td><span class="badge bg-success">{{client.userPassword}}</span></td>
                                  <td><span class="badge bg-info">{{client.emailId}}</span></td>
                                  <td><span class="badge bg-info">{{client.emailPass}}</span></td>
                                  <td><span class="badge bg-warning">{{client.evc}}</span></td>
                                  <td><span class="badge bg-secondary">{{client.mobile}}</span></td>
                                  <td><span class="badge bg-dark">{{client.frequency}}</span></td>
                               </tr>
                               
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
                <!-- <div class="col-12">
                   <div class="card top-selling overflow-auto">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body pb-0">
                         <h5 class="card-title">Top Selling <span>| Today</span></h5>
                         <table class="table table-borderless">
                            <thead>
                               <tr>
                                  <th scope="col">Preview</th>
                                  <th scope="col">Product</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Sold</th>
                                  <th scope="col">Revenue</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr>
                                  <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                                  <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                                  <td>$64</td>
                                  <td class="fw-bold">124</td>
                                  <td>$5,828</td>
                               </tr>
                               <tr>
                                  <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
                                  <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                                  <td>$46</td>
                                  <td class="fw-bold">98</td>
                                  <td>$4,508</td>
                               </tr>
                               <tr>
                                  <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
                                  <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                                  <td>$59</td>
                                  <td class="fw-bold">74</td>
                                  <td>$4,366</td>
                               </tr>
                               <tr>
                                  <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
                                  <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                                  <td>$32</td>
                                  <td class="fw-bold">63</td>
                                  <td>$2,016</td>
                               </tr>
                               <tr>
                                  <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
                                  <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                                  <td>$79</td>
                                  <td class="fw-bold">41</td>
                                  <td>$3,239</td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div> -->
             </div>
          </div>
          <!-- <div class="col-lg-4">
             <div class="card">
                <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                         <h6>Filter</h6>
                      </li>
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                   </ul>
                </div>
                <div class="card-body">
                   <h5 class="card-title">Recent Activity <span>| Today</span></h5>
                   <div class="activity">
                      <div class="activity-item d-flex">
                         <div class="activite-label">32 min</div>
                         <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                         <div class="activity-content"> Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae</div>
                      </div>
                      <div class="activity-item d-flex">
                         <div class="activite-label">56 min</div>
                         <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                         <div class="activity-content"> Voluptatem blanditiis blanditiis eveniet</div>
                      </div>
                      <div class="activity-item d-flex">
                         <div class="activite-label">2 hrs</div>
                         <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                         <div class="activity-content"> Voluptates corrupti molestias voluptatem</div>
                      </div>
                      <div class="activity-item d-flex">
                         <div class="activite-label">1 day</div>
                         <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                         <div class="activity-content"> Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore</div>
                      </div>
                      <div class="activity-item d-flex">
                         <div class="activite-label">2 days</div>
                         <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                         <div class="activity-content"> Est sit eum reiciendis exercitationem</div>
                      </div>
                      <div class="activity-item d-flex">
                         <div class="activite-label">4 weeks</div>
                         <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                         <div class="activity-content"> Dicta dolorem harum nulla eius. Ut quidem quidem sit quas</div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                         <h6>Filter</h6>
                      </li>
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                   </ul>
                </div>
                <div class="card-body pb-0">
                   <h5 class="card-title">Budget Report <span>| This Month</span></h5>
                   <div id="budgetChart" style="min-height: 400px;" class="echart"></div> 
                </div>
             </div>
             <div class="card">
                <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                         <h6>Filter</h6>
                      </li>
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                   </ul>
                </div>
                <div class="card-body pb-0">
                   <h5 class="card-title">Website Traffic <span>| Today</span></h5>
                   <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
                </div>
             </div>
             <div class="card">
                <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                         <h6>Filter</h6>
                      </li>
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                   </ul>
                </div>
                <div class="card-body pb-0">
                   <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>
                   <div class="news">
                      <div class="post-item clearfix">
                         <img src="assets/img/news-1.jpg" alt="">
                         <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                         <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                      </div>
                      <div class="post-item clearfix">
                         <img src="assets/img/news-2.jpg" alt="">
                         <h4><a href="#">Quidem autem et impedit</a></h4>
                         <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                      </div>
                      <div class="post-item clearfix">
                         <img src="assets/img/news-3.jpg" alt="">
                         <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                         <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                      </div>
                      <div class="post-item clearfix">
                         <img src="assets/img/news-4.jpg" alt="">
                         <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                         <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                      </div>
                      <div class="post-item clearfix">
                         <img src="assets/img/news-5.jpg" alt="">
                         <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                         <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                      </div>
                   </div>
                </div>
             </div>
          </div> -->
       </div>
    </section>
 </main>

 <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title">GST Client Dtails</h4>
     </div>
     <div class="modal-body">
      <span *ngIf="submitted && createClient.invalid" class="badge badge-danger">All Fields Are Required.</span>
      <form class="mt-4" [formGroup]="createClient" (ngSubmit)="addEditClient()">
          Company Details<hr/>
          <div class="row">
              <div class="col" style="margin-top: 5px;">
                  <input type="text" class="form-control form-control-lg" formControlName="firmname"
                      placeholder="Firm Name">
              </div>
              <div class="col" style="margin-top: 5px;">
                  <input type="text" class="form-control form-control-lg" formControlName="business"
                      placeholder="Business">
              </div>
          </div>
          <div class="row" style="margin-top: 5px;">
              <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="gst"
                      placeholder="GST">
              </div>
              <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="prop"
                      placeholder="Position">
              </div>
          </div>
          <hr/>GST Related<hr/>
          <div class="row" style="margin-top: 5px;">
              <div class="col">
                  <!-- <input type="text" class="form-control form-control-lg" formControlName="frequency"
                  placeholder="Frequency"> -->
                  <label for="cars"><b>Frequency : </b></label>
                  <select id="country" formControlName="frequency">
                      <option *ngFor="let c of formfreq" [ngValue]="c">{{ c }}</option>
                  </select>
              </div>
              <div class="col">
                  <div class="col">
                      <!-- <input type="text" class="form-control form-control-lg" formControlName="frequency"
                      placeholder="Frequency"> -->
                      <label for="cars"><b>EVC / DSC : </b></label>
                      <select id="country" formControlName="evc">
                          <option *ngFor="let a of evcValues" [ngValue]="a"><span style="margin-left: 3px;">{{ a }}</span></option>
                      </select>
                  </div>
              </div>
          </div>
          <hr/>Client Details<hr/>
          <div class="row" style="margin-top: 5px;">
              <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="userId"
                      placeholder="User Id">
              </div>
              <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="userPassword"
                      placeholder="User Password">
              </div>
          </div>
          <div class="row" style="margin-top: 5px;">
              <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="emailId"
                      placeholder="Email">
              </div>
              <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="emailPass"
                      placeholder="Email Password">
              </div>
              
          </div>
          <div class="row" style="margin-top: 5px;">
              <div class="col">
              <input type="text" class="form-control form-control-lg" formControlName="mobile"
              placeholder="Contact No.">
          </div>
      </div>
      
          <!-- <div class="row">
              <input type="hidden" name="isActive" ngModel="false" class="form-control form-control-lg" formControlName="IsActive"
              placeholder="IsActive">
          </div> -->
          <div class="mt-3" style="margin-right:10px;float: right;">
              <button type="text" class="btn btn-secondary btn-lg mr-3"
                  (click)="closePopup()" style="margin-right: 10px;">Cancel</button>
              <button type="submit" class="btn btn-dark btn-lg">Add</button>
          </div>
      </form>
  </div>
</div>
</div>
 
     </div>
     <!-- <div class="modal-footer">
       <button type="button" class="btn btn-danger" 
               (click)="closePopup()">
         Close
       </button>
     </div> -->
   


<!-- <div class="row">
   <div class="col-lg-6">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title">Multi Columns Form</h5>
            <form class="row g-3">
               <div class="col-md-12"> <label for="inputName5" class="form-label">Your Name</label> <input type="text" class="form-control" id="inputName5"></div>
               <div class="col-md-6"> <label for="inputEmail5" class="form-label">Email</label> <input type="email" class="form-control" id="inputEmail5"></div>
               <div class="col-md-6"> <label for="inputPassword5" class="form-label">Password</label> <input type="password" class="form-control" id="inputPassword5"></div>
               <div class="col-12"> <label for="inputAddress5" class="form-label">Address</label> <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St"></div>
               <div class="col-12"> <label for="inputAddress2" class="form-label">Address 2</label> <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"></div>
               <div class="col-md-6"> <label for="inputCity" class="form-label">City</label> <input type="text" class="form-control" id="inputCity"></div>
               <div class="col-md-4">
                  <label for="inputState" class="form-label">State</label> 
                  <select id="inputState" class="form-select">
                     <option selected>Choose...</option>
                     <option>...</option>
                  </select>
               </div>
               <div class="col-md-2"> <label for="inputZip" class="form-label">Zip</label> <input type="text" class="form-control" id="inputZip"></div>
               <div class="col-12">
                  <div class="form-check"> <input class="form-check-input" type="checkbox" id="gridCheck"> <label class="form-check-label" for="gridCheck"> Check me out </label></div>
               </div>
               <div class="text-center"> <button type="submit" class="btn btn-primary">Submit</button> <button type="reset" class="btn btn-secondary">Reset</button></div>
            </form>
         </div>
      </div>
   </div>
   </div> -->